body {
  background: #11111b;
}

.title {
  color: #cdd6f4;
  font-size: 30px;
  background: #1e1e2e;
  padding-left: 10px;
  padding: 1%;
  margin-top: 1%;
  border-radius: 32px;
}

.main {
  display: flex;
}

.img {
  margin-top: 2%;
  margin-left: 2%;
  min-width: 40%;
  padding-right: 2%;
  img {
    max-height: 400px;
    max-width: 90%;
    border-radius: 32px;
  }
}

.content {
  color: #cdd6f4;
  font-size: 20px;
  margin-top: 20px;
  background: #1e1e2e;
  padding: 1%;
  border-radius: 32px;
  min-width: 60%;
  max-width: fit-content
}

.footer button {
  background: #1e1e2e;
  color: #cdd6f4;
  border-radius: 32px;
  padding: 1%;
  margin-top: 20px;
  font-size: 20px;
  border: none;
}
